# CAP csm-demo-202002-actuals-cap
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

db/node_modules

gen
node_modules
target

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
gen/db/.env